/resenhas.aux
/resenhas.brf
/resenhas.glg
/resenhas.glo
/resenhas.gls
/resenhas.idx
/resenhas.lof
/resenhas.log
/resenhas.synctex.gz
/resenhas.toc
/resenhas.bbl
/resenhas.blg
/resenhas.ist
/resenhas.lot
/fontes.bib.bak
/fontes.bib.sav
